
body {
	/*font-family: "helvetica neue", "HelveticaNeue", helvetica, arial, sans-serif;*/
	margin-left: 0px;
	margin-right: 0px;
	margin-top: 0px;
	margin-bottom: 0px;
	width: 100%;
	background-color: #E7E2E4;
	font-family: helvetica, "HelveticaNeue-Light", "Helvetica Neue Light", "helvetica neue", helvetica, arial, sans-serif;
	font-size: 15px;
	font-weight: 300;
	color: gray;
	line-height: 18px;
	-webkit-font-smoothing: antialiased;
}

section.header{
	height: 400px;
	display: block;
	width: 100%;
	background-image: url(../img/background-header-gray-rose.png);
}

section.header .container-top{
	position: relative;
	text-align: center;
	height: 100%;
	width: 940px;
	margin: 0px auto;
	overflow-y: hidden;
}
section.header #slide{
	width: 100%;
	height: 100%;
	position: relative;
}

section.header .text {
	text-align: center;
	margin-top: 0px;
	z-index: 100;					
}
section.header h1{
	z-index: 2;
	margin-bottom: 24px;
	color: #E7E2E4;
	font-size: 40px;
	text-shadow: 0 1px 1px gray;
	font-weight: 300;
	line-height: 1.2em;
	margin-top: 30px !important;
	display: block;
	-webkit-font-smoothing: antialiased;
	font-family: "century gothic";
	letter-spacing: 2px;
	background-image: url(../img/shadow-white-title.png) no-repeat;
}
section.header .iPad {
	position: absolute;
	bottom: -308px;
	left: 48%;
	margin-top: -23px;
	margin-left: -323px;
	height: 582px;
	max-width: 100%;
	border-top-width: 0px;					
}
a{
	color: #5686AC;
	text-decoration: none;
	cursor: auto;
}
section.header .app-download{
	position: absolute;
	bottom: 202px;
	right: 0px;
	
}
section.header .pinwheel{
	z-index: 0;
	position: absolute;
	bottom: 347px;
	left: 268px;
	width: 57px;
}
section.header .coming-soon {
	position: absolute;
	bottom: 202px;
	right: 6px;
	top: 182px;
}

			
/*this is kindergram navbar*/
.navbar{
	margin-top: 0px;
	margin-bottom: 0px;
	margin-left: -2px;
	margin-right: -2px;	
}
.navbar-inner{
	background-image: url(http://www.pinstagram.co/img/noise.420741.png);
	position: relative;
	z-index: 2;
	box-shadow: 0 8px 6px -6px black;
}
.brand{
	font-family: "century gothic", "helvetica neue", arial, sans-serif;
	font-weight: 300;      		
}      
.signup{
 	font-family: "century gothic", "helvetica neue", arial, sans-serif;
 }
 .login{
 	font-family: "century gothic", "helvetica neue", arial, sans-serif;
 }	
/* end of Kindergram navbar */

/*this is Kindergram section.boy*/
section.body{
	background-image: url(../img/noise.png);
	position: relative;
	display: block;
	width: 100%;
	height: 1643px;

}
section.body::after{
	position: absolute;
	width: 100%;
	height: 39px;
	z-index: 1;
	content: ' ';
	background: url(../img/shadow-header.png) top center no-repeat;
	top: -77px;
}
.plane1 {
	z-index: -2;
	background-repeat: no-repeat;
	width: 57%;
	margin-left: 208px;
	margin-top: 20px;
}
#widget {
	margin-top: -32px;
	margin-bottom: 20px;
	width:35%;
	height: auto;
	text-align: center;
	margin-left: 460px;
	margin-right: 300px;
}
#widget span{
	padding-right: 25px;

}
li.fb-share {
	list-style: none;
	z-index: 1;
	width: 50px;
	height: 50px;
	margin-top: -15px;
}
li.fb-share .fb-sketch {
	background-repeat: no-repeat;
	width: 77%;
	height: 77%; 
}
.fb_edge_widget_with_comment {
	z-index: 3;
	opacity: 0;
	margin-top: -70px;
	margin-left: 10px;
	/*margin-top: -37px;
	margin-left: 0px;
	margin-bottom: 15px;
	width: 62%;
	height: 70%;*/
}
.fb_iframe_widget {
	opacity: ;
}

li.tw-share {
	list-style: none;
	z-index: 1;
	width: 50px;
	height: 50px;
	margin-top: -15px;
}
li.tw-share .tw-sketch {
	background-repeat: no-repeat;
	width: 77%;
	height: 77%; 
}
.twitter-share-button {
	opacity: 0;
	margin-top: -37px;
	margin-left: 0px;
	margin-bottom: 22px;
	width: 62%;
	height: 70%;
}
li.pin-share {
	list-style: none;
	z-index: 1;
	width: 50px;
	height: 50px;
	margin-top: -15px;
}
.pin-button-sketch {
	background-repeat: no-repeat;
	width: 77%;
	height: 77%;
}
#pin-it-button {
	opacity: 0;
	margin-top: -37px;
	margin-left: 0px;
	margin-bottom: 15px;
	width: 62%;
	height: 70%;
}
li.google-share {
	list-style: none;
	z-index: 1;
	width: 50px;
	height: 50px;
	margin-top: -15px;
}
.plusone-button-sketch {
	background-repeat: no-repeat;
	width: 77%;
	height: 77%;
	margin-bottom: -18px;
}
a.g-plusone {
	opacity: 0;
	margin-top: -37px;
	margin-left: 0px;
	margin-bottom: 15px;
	width: 62%;
	height: 70%;
}


#about-text {
	width: 80%;
	height: 1475px;
	padding-top: 18px;
	margin: 0 auto;
	margin-bottom: 24px;
	padding-bottom: 5px;
	background-color: transparent;
	box-shadow: inset 0 0px white, 0 2px 30px -12px rgba(34, 25, 25, 0.4);
	z-index: -100;
	/*overflow-y: auto;
	overflow-x: hidden;*/
	position: center;
}
#aboutright .btn-info{
	margin-right: 10px;
	margin-top: 144px;
	margin-bottom: 10px;
	margin-left: 527px;
	display: block;
}
#about-text h1 {
	text-align: center;
	text-shadow: 0 1px #E7E2E4;
	font-size: 32px;
	font-weight: 300;
	color: #333;
	margin-top: -20px;
	margin-bottom: 32px;
	margin-left: 0px;
	-webkit-font-smoothing: antialiased;

}

#aboutrow-top{
	width: 90%;
	margin: 0px 5%;
	float: left;
}
#aboutrow-top h1 {
	text-align: center;
	text-shadow: 0 1px #E7E2E4;
	font-size: 32px;
	font-weight: 300;
	color: #333;
	margin-top: -20px;
	margin-bottom: 32px;
	margin-left: 0px;
	-webkit-font-smoothing: antialiased;
}
#aboutrow-top h2 {
	font-size: 27px;
	text-align: left;
	margin-left: 10px;
	line-height: 29px;
	margin-right: 10px;
	text-shadow: 0 1px #E7E2E4;
	font-weight: 300;
	color: #333;
	-webkit-font-smoothing: antialiased;
}
				
.columnleft{
	width: 33%;
	float: left;
}
.columnleft .pinwheel-sketch {
	background-repeat: none;
	width: 50%;
	margin-top: -7px;
	margin-left: 17px;

}

.columnleft p{
	line-height: 24px;
	text-align: justify;
	margin: 7px 34%;
	margin-left: 15px;
	font-size: 16px;
}

.columncenter{
	width: 33%;
	float: left;
}
.columncenter .monsters-sketch {
	background-repeat: none;
	width: 65%;
	margin-top: -20px;
	margin-left: 17px;
}

.columncenter p{
	font-size: 16px;
	line-height: 24px;
	text-align: justify;
	margin: 7px 28%;
	margin-left: 15px;
}

.columnright{
	width: 33%;
	float: left;
}
.columnright .camera-sketch {
	background-repeat: none;
	width: 76%;
	margin-top: 2px;
	margin-left: -30px;
	margin-bottom: 6px;
}

.columnright p{
	font-size: 16px;
	line-height: 24px;
	text-align: justify;
	margin: 7px 12%;
	margin-left: 15px;
}

.aboutrow-center{
	width: 73%;
	padding-top: 74px;
	margin: 0px 14%;
	float: left;
}
.aboutrow-center h1 {
	text-align: center;
	text-shadow: 0 1px #E7E2E4;
	font-size: 32px;
	font-weight: 300;
	color: #333;
	margin-top: -20px;
	margin-bottom: 32px;
	margin-left: 0px;
	-webkit-font-smoothing: antialiased;
}

.aboutrow-center p{
	text-align: justify;
	line-height: 29px;
	font-size: 25px;
}
.aboutrow-center .discovery-sketch {
	background-repeat: none;
	width: 77%;
	margin-top: -14px;
	margin-left: 71px;
	margin-bottom: 20px; 
}

.aboutrow-bottom{
	padding-top: 45px;
	width: 94%;
	float: left;
	margin: 0px 5%;
}

.column1{
	width: 21%;
	float: left;
	margin-right: 2%;
}
.column1 h2 {
	text-shadow: 0 1px #E7E2E4;
	font-weight: 300;
	color: #333;
	-webkit-font-smoothing: antialiased;
}
.column1 p{
	text-align: left;
	font-size: 15px;
	line-height: 24px;
}

.column2{
	width: 17%;
	float: left;
	margin-right: 2%;
}
.column2 h2 {
	text-shadow: 0 1px #E7E2E4;
	font-weight: 300;
	color: #333;
	-webkit-font-smoothing: antialiased;
}
.column2 p{
	text-align: left;
	font-size: 15px;
	line-height: 24px;
}


.column3{
	width: 15%;
	float: left;
	margin-right: 2%;
}
.column3 h2 {
	text-shadow: 0 1px #E7E2E4;
	font-weight: 300;
	color: #333;
	-webkit-font-smoothing: antialiased;
}
.column3 p{
	text-align: left;
	line-height: 24px;
	font-size: 15px;
}


.column4{
	width: 16%;
	float: left;
	margin-right: 2%;
}
.column4 h2 {
	text-shadow: 0 1px #E7E2E4;
	font-weight: 300;
	color: #333;
	-webkit-font-smoothing: antialiased;
}
.column4 p{
	text-align: left;
	font-size: 15px;
	line-height: 24px;
}


.column5{
	width: 21%;
	float: left;
	margin-right: 2%;
}
.column5 h2 {
	text-shadow: 0 1px #E7E2E4;
	font-weight: 300;
	color: #333;
	-webkit-font-smoothing: antialiased;
}
.column5 p{
	text-align: left;
	font-size: 15px;
	line-height: 24px;
}
#aboutfooter {
	background-image: url(../img/noise.png);
	z-index: -1;
	height: auto;
	width: 100%;
	padding-top: 20px;
	margin: 0 auto;
	/*background-color: #FAF7F7;*/
	float: left;
}
.plane2 {
	z-index: -2;
	background-repeat: no-repeat;
	width: 57%;
	margin-left: 245px;
	margin-top: -7px;
}
li.fb-follow {
	list-style: none;
	z-index: 1;
	width: 50px;
	height: 50px;
	margin-top: -45px;
	margin-left: 426px;
}
.fb-follow-btn {
	background-repeat: no-repeat;
	width: 77%;
	height: 77%;
}
li.tw-follow {
	list-style: none;
	z-index: 1;
	width: 50px;
	height: 50px;
	margin-top: -50px;
	margin-left: 499px;
	} 
.tw-follow-btn {
	background-repeat: no-repeat;
	width: 77%;
	height: 77%;
}
li.g-follow {
	list-style: none;
	z-index: 1;
	width: 50px;
	height: 50px;
	margin-top: -50px;
	margin-left: 572px;
}
.g-follow-btn {
	background-repeat: no-repeat;
	width: 77%;
	height: 77%;
}

				